h1 {
    background-color: blue;
    color: darkblue;
}

.p-1 {
    color: blueviolet;
}

.p-2 {
    background-color: yellow;
    color: red;
}

.p-3 {
    background-color: olive;
    color: darkgreen;
}